<section class="breadcrumb-section bg-black pb-4 pt-2">
  <div class="container mx-auto">
    <nav class="breadcrumb">
      {% if template.name == 'index' %}
        <!-- No breadcrumbs on the homepage -->
      {% else %}
        <ul class="flex items-center space-x-2">
          <!-- Home Link -->
          <li>
            <a href="{{ routes.root_url }}" class="inline-flex items-center font-medium text-xs uppercase text-warning-900">
              Home
            </a>
          </li>

          <!-- Collection Breadcrumb -->
          {% if collection %}
            <li>
              <svg
                class="w-2 h-2 mx-1 text-warning-900"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
              </svg>
            </li>
            <li>
              <a href="{{ collection.url }}" class="inline-flex items-center font-medium text-xs uppercase text-warning-900">
                {{ collection.title }}
              </a>
            </li>
          {% endif %}

          <!-- Product Breadcrumb -->
          {% if product %}
            {% if collection %}
              <li>
                <svg
                  class="w-2 h-2 mx-1 text-warning-900"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                </svg>
              </li>
            {% endif %}
            <li>
              <span class="font-medium text-xs uppercase text-warning-900">{{ product.title }}</span>
            </li>
          {% endif %}

          <!-- Blog and Article Breadcrumb -->
          {% if blog %}
            <li>
              <svg
                class="w-2 h-2 mx-1 text-warning-900"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
              </svg>
            </li>
            <li>
              <a href="{{ blog.url }}" class="inline-flex items-center font-medium text-xs uppercase text-warning-900">
                {{ blog.title }}
              </a>
            </li>
          {% endif %}

          {% if article %}
            <li>
              <svg
                class="w-2 h-2 mx-1 text-warning-900"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
              </svg>
            </li>
            
            <li>
              <span class="font-medium text-xs uppercase text-warning-900">{{ article.title }}</span>
            </li>
          {% endif %}

          <!-- Page Breadcrumb -->
          {% if page %}
            <li>
              <svg
                class="w-2 h-2 mx-1 text-warning-900"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
              </svg>
            </li>

            <li>
              <span class="inline-flex items-center font-medium text-xs uppercase text-warning-900">
                {{ page.title }}
              </span>
            </li>
          {% endif %}
          
        </ul>
      {% endif %}
    </nav>
  </div>
</section>



