<footer class="pt-12 pb-4 bg-black">
  <div class="container mx-auto  pt-12 pb-5  border-gray-400 border-t">
    <div class="grid grid-cols-4 gap-12">
      <div class="footer-logo">
        <a href="{{ shop.url }}">
          <img
            src="{{ 'images/footer-logo.svg' | asset_url }}"
            width="300px"
            height="260px"
            alt="Logo"
          >
        </a>
      </div>

      <div class="footer-link">
        <ul>
          <li class="mb-4">
            <h3 class="font-medium text-xs uppercase text-warning-900">Whatsapp</h3>
            <a href="#" class="font-medium text-xs text-gray-100">+31 (0)6 27 17 14 39</a>
          </li>

          <li class="mb-4">
            <h3 class="font-medium text-xs uppercase text-warning-900">email</h3>
            <a href="#" class="font-medium text-gray-100 text-xs uppercase">info@lemiriandco.com</a>
          </li>

          <li class="mb-4">
            <h3 class="font-medium text-xs uppercase text-warning-900">address</h3>
            <a href="#" class="font-medium text-gray-100 text-xs uppercase"
              >2501 S Delaware Ave, Milwaukee, WI 53207-1907</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-link">
        {% comment %}
          <ul>
            <li class="mb-4">
              <a href="#" class="font-medium text-xs uppercase text-warning-900 inline-flex items-center">Watches</a>
            </li>

            <li class="mb-4">
              <a href="#" class="font-medium text-xs uppercase text-warning-900">Jewelry</a>
            </li>

            <li class="mb-4">
              <a href="#" class="font-medium text-xs uppercase text-warning-900">About</a>
            </li>
            <li class="mb-4">
              <a href="#" class="font-medium text-xs uppercase text-warning-900">Contact</a>
            </li>
          </ul>
        {% endcomment %}
        {% if linklists.footer %}
          <ul>
            {% for link in linklists.footer.links %}
              <li class="mb-4">
                <a href="{{ link.url }}" class="font-medium text-xs uppercase text-warning-900">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="footer-link">
          

        <ul class="social-links">
          <li class="mb-4">
            <a href="{{ settings.instagram_url }}" target="_blank" class="font-medium text-xs uppercase text-warning-900" rel="noopener noreferrer">
              Instagram
            </a>
          </li>
          <li class="mb-4">
            <a href="{{ settings.facebook_url }}" target="_blank" class="font-medium text-xs uppercase text-warning-900" rel="noopener noreferrer">
              Youtube
            </a>
            <a href="#" >Youtube</a>
          </li>
          <li class="mb-4">
            <a href="{{ settings.youtube_url }}" target="_blank" class="font-medium text-xs uppercase text-warning-900" rel="noopener noreferrer" >
              Facebook
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container mx-auto">
    <div class="container mx-auto">
      <div class="flex justify-between justify-items-center">
        <p class="font-medium text-xs text-gray-100 uppercase leading-6">© Lemiri & co, 2024 — VAT NL812809610B01</p>

        <ul id="flowbiteMenu" class="flex-col hidden pt-6 lg:flex-row lg:self-center lg:py-0 lg:flex">
          <li class="mb-3 lg:px-2 xl:px-2 lg:mb-0">
            <a href="/docs/getting-started/quickstart/" class="font-medium text-xs uppercase text-warning-900"
              >Quickstart</a
            >
          </li>

          <li class="mb-3 lg:px-2 xl:px-2 lg:mb-0">
            <a href="/blocks/" class="font-medium text-xs uppercase text-warning-900">Blocks</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
