<section class="hero-banner flex justify-center items-center bg-cover bg-no-repeat bg-center h-[500px] text-center" 
  style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) -80.5%, #000000 100%), url('{{ 'images/hero-banner.jpeg' | asset_url }}');
         background-size: cover; background-position: center;">
  <div class="container mx-auto">
    <div class="col-span-12">
      <h6 class="font-medium text-xs	text-warning-900 uppercase">blog</h6>
      <h2 class="text-6xl	font-normal text-warning-100">Knowledgebase</h2>
    </div>
  </div>
</section>

<section class="blogs-list py-12 bg-black">
  <div class="container mx-auto">
    <div class="col-span-12">
        <ul class="pb-32">
          <li class="inline-block me-3">
            <a href="/blogs/news" title="Show articles All" class="text-xs bg-warning-900 font-medium	uppercase text-gray-900 border border-gray-500 px-3 py-2">All</a>
        </li>

          {% for tag in blog.all_tags %}
            <li class="current inline-block me-3 text-xs font-medium	uppercase text-warning-100 border border-gray-400 px-3 py-2">

              {% comment %} <a href="{{ blog.url | append: '?tag=' | append: tag | url_encode }}" class="text-xs font-medium uppercase text-warning-100 border border-gray-400 px-3 py-2">
                {{ tag | link_to_tag: tag }}
              </a> {% endcomment %}

                {{ tag | link_to_tag: tag }}
            </li>
          {% endfor %}
        </ul>
    </div>

    {%- paginate blog.articles by 8-%}
      <div class="grid grid-cols-4 gap-4">
        {% for article in blog.articles %}
          <div class="shadow border border-gray-300 p-2">
            <div class="mx-auto flex justify-center h-80 h-80 items-center">
              <a href="{{ article.url }}" title="{{ article.title }}">
                <img
                  src="{{ article.image | img_url: '400x400' }}"
                  alt="{{ article.title }}"
                  height="320px"
                  width="320px"
                  class=""
                >
              </a>
            </div>

            <div class="py-3">
              <ul class="mb-3">
                {% for tag in article.tags %}
                  <li class="inline-block text-xs font-medium uppercase text-warning-100 border border-gray-400 px-3 py-2 ">
                    {{ tag | link_to_tag: tag }}
                  </li>
                {% endfor %}
              </ul>

              <h5 class="mb-6 text-xl font-medium	text-warning-100 blog-article-title">
                <a  href="{{ article.url }}">{{ article.title }}</a>
              </h5>
              <p class="text-lg font-medium text-warning-900 flex justify-between">
                <span class="text-gray-100 font-normal text-sm uppercase">{{ article.author }}</span>
                <span class="text-gray-100 font-normal text-sm uppercase">
                  {{ article.published_at | date: '%d %b %Y' }}
                </span>
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
      {%- if paginate.pages > 1 -%}
        {%- render 'pagination', paginate: paginate -%}
      {%- endif -%}
    {%- endpaginate -%}
  </div>
</section>
